---
layout: doc
permalink: /documentacao/
---

<div class="row">
  <div class="headline">
    <h1 class="headline__title">Documentação</h1>
  </div>
</div>

{% for post in site.posts %}
  {% if post.category == "doc" %}
  <div class="row">
    <div class="small-12 medium-10 large-8 small-centered columns post-item">
        <div class="row">{{ post.date | date_to_long_string }}</div>
        <div class="row">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <h3>{{post.title}}</h3>
          </a>
        </div>
        <div class="row">
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, perferendis, est. Delectus unde molestiae itaque, totam impedit vero maiores inventore nostrum, officiis, veritatis beatae quod voluptatum perspiciatis! Voluptas, dolor, doloremque.</p>
        </div>
    </div>
  </div>
  {% endif %}





<!--   <article class="article">
    <span class="article__meta">
      <time class="article__meta__datetime" datetime="{{ post.date | %H:%M:%S }}">
        <i class="fa fa-clock-o"></i>
        {{ post.date | date_to_long_string }}
      </time>
      <span class="article__meta__category">
        <i class="fa fa-tags"></i>
        {{ post.tags }}
      </span>
    </span>
    <h2 class="article__title">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </h2>
    <p class="article__excerpt">
      {{ post.excerpt }}
    </p>
  </article>
  <hr> -->

{% endfor %}
