---
layout: doc
title: FAQ
permalink: /faq/
---

<div class="row">
  <div class="headline">
    <h1 class="headline__title">FAQ</h1>
  </div>
</div>

{% for post in site.posts %}
  {% if post.category == "faq" %}
  <div class="row">
    <div class="small-12 medium-10 large-8 small-centered columns post-item">
        <div class="row">
          <h3>{{post.question}}</h3>
        </div>
        <div class="row">
          <p class="text-justify text-bold">{{post.answer}}</p>
        </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
