---
layout: doc
title: Documentação
permalink: /manuais/
---

<div class="row">
  <div class="headline">
    <h1 class="headline__title">Manuais</h1>
  </div>
</div>

{% for post in site.posts %}
  {% if post.category == "manual" %}
  <div class="row">
    <div class="small-12 medium-10 large-8 small-centered columns post-item">
        <div class="row">{{ post.date | date_to_long_string }}</div>
        <div class="row">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <h3>{{post.title}}</h3>
          </a>
        </div>
        <div class="row">
          <p class="text-justify text-bold">{{post.description}}</p>
        </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
