@import "foundation/settings";

body {
    font-family: $font-family-titillium;
    color: $smoke;
}

.home-item {
    margin-bottom: 3rem;
    &:hover {
        text-decoration: underline;
    }
}

.post-item {
    margin-bottom: 3rem;

    :hover {
        h3 {
            background: rgba(white, 0.07);
        }
    }
}

.headline {
  text-align: center;
  margin: 50px 0;
}
