@import "foundation/settings";

body {
    font-family: $font-family-titillium;
    color: $smoke;
}

.row {

    p {
        font-weight: normal;
    }

    blockquote, img {
        margin-top: 1rem;
        margin-bottom: 1rem;

        p {
            position: center;
            font-size: 1.5rem;
            color: rgba($smoke, 0.5);
    }
}
}

.home-item {
    margin-bottom: 3rem;
    &:hover {
        text-decoration: underline;
    }
}

.post-item {
    margin-bottom: 3rem;

    h3 {
        color: $old-brick;
    }

    &:hover {
        h3 {
            background: rgba(white, 0.07);
        }
    }
}

.headline {
  text-align: center;
  margin: 50px 0;
}

.text-bold {
    font-weight: bold !important;
}

