<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        {% include header.html %}

        {{ content }}

        <div class="row">
          <div class="headline">
            <h1 class="headline__title">SpaceWars</h1>
            <h2 class="headline__subtitle">Slogan maneiro para um jogo não tão legal...</h2>
          </div>
        </div>

        <div class="row">
          <a href="">
            <div class="large-4 medium-4 small-12 columns home-item">
              <center><img src="{{ "/img/icons/folder.png" | prepend: site.baseurl }}" alt="Documentation"></center>

              <p><h4 class="text-center">Documentação</h4></p>
            </div>
          </a>
          <div class="large-4 medium-4 small-12 columns home-item">
            <center><img class="home-item-icon" src="{{ "/img/icons/book.png" | prepend: site.baseurl }}" alt="Documentation"></center>
            <p><h4 class="text-center">Manuais</h4></p>
          </div>
          <div class="large-4 medium-4 small-12 columns home-item">
            <center><img src="{{ "/img/icons/chat.png" | prepend: site.baseurl }}" alt="Documentation"></center>
            <p><h4 class="text-center">FAQ</h4></p>
          </div>
        </div>

        {% include footer.html %}
    </body>
</html>
