<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        {% include header.html %}

        {{ content }}

        <div class="row">
          <p><h1>SpaceWars</h1></p>
          <p><h2>Slogan maneiro para um jogo não tão legal...</h2></p>
          <hr>
        </div>

        <div class="row">
          <div class="large-4 medium-4 small-12 columns">
            <center><img src="{{ "/img/icons/folder.png" | prepend: site.baseurl }}" alt="Documentation"></center>
          </div>
          <div class="large-4 medium-4 small-12 columns">
            <center><img src="{{ "/img/icons/book.png" | prepend: site.baseurl }}" alt="Documentation"></center>
          </div>
          <div class="large-4 medium-4 small-12 columns">
            <center><img src="{{ "/img/icons/chat.png" | prepend: site.baseurl }}" alt="Documentation"></center>
          </div>
        </div>

        {% include footer.html %}
    </body>
</html>